<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <script src="/static/external/qrcodejs/qrcode.min.js"></script>
  <style>
    body {
      text-align: center;
      font-size: 48pt;
      font-family: sans-serif;
    }
    #container {
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 500px;
    }
    .qrcode {
      margin: auto;
      width: 500px;
    }
  </style>
</head>
<body>
  <div id="container"
       data-cleanurl="{{ clean_url }}">
    <div class="qrcode"
         data-value="{{ qrcode }}"></div>
    <p>
      Scan this code to log in to a judging or scrambling device.
    </p>
  </div>
  <script type="application/javascript">
    elt = document.getElementById("container");
    window.history.replaceState("", "", elt.dataset.cleanurl);
    setTimeout(function(){
      window.location.reload(1);
    }, 30000);

    Array.prototype.forEach.call(
      document.getElementsByClassName("qrcode"),
      function(elt) {
        new QRCode(elt, {
          "text": elt.dataset.value,
          "width": elt.offsetWidth,
          "height": elt.offsetWidth,
        });
      });
  </script>
</body>
</html>


{% endautoescape %}
