[submodule "server/third_party/grpc-java"]
	path = server/third_party/grpc-java
	url = https://github.com/grpc/grpc-java
[submodule "server/third_party/bazel-skylib"]
	path = server/third_party/bazel-skylib
	url = https://github.com/bazelbuild/bazel-skylib.git
