[submodule "third_party/grpc-java"]
	path = third_party/grpc-java
	url = https://github.com/grpc/grpc-java
[submodule "third_party/bazel-skylib"]
	path = third_party/bazel-skylib
	url = https://github.com/bazelbuild/bazel-skylib
[submodule "third_party/qrcodejs"]
	path = third_party/qrcodejs
	url = https://github.com/davidshimjs/qrcodejs.git
[submodule "site/src/static/external/qrcodejs"]
	path = site/src/static/external/qrcodejs
	url = https://github.com/davidshimjs/qrcodejs.git
