bazel-bin
bazel-genfiles
bazel-out
bazel-server
bazel-techcubing
bazel-testlogs
*.swp
*.swo
*.iml

# Android studio files
.gradle
local.properties
.idea/
.project/
gradle/
.DS_Store
/build
/captures
.externalNativeBuild
gradlew
gradlew.bat
