<html>
<head>
  <title>Devices</title>
</head>
<body>
  <h1>Devices</h1>
  <h2>Existing devices</h2>
  <#list devicesByType as deviceType, devices>
    <h3>${deviceType}</h3>
    <ul>
      <#list devices as device>
        <li>
          <form action="/delete_device" method="POST" id="${device.getId()}">
            <input type="hidden" name="id" value="${device.getId()}">
          </form>
          ${device.getVisibleName()} (device ${device.getId()})
          <#if device.personId?length != 0 >
            (${persons[device.personId].name})
          </#if>
          <#if device.deactivated.seconds == 0>
            <button type="submit" value="Delete" form="${device.getId()}">Delete</button>
          <#else>
            [deleted]
          </#if>
        </li>
      </#list>
    </ul>
  </#list>
  <h2>Create a new device</h2>
  <#if attachedDevices?size == 0 >
    <p>No attached devices found.</p>
  <#else>
    <form action="/add_device" method="POST">
      <p>
        <div>Type of device:</div>
        <select name="deviceType">
          <#list devicesByType as deviceType, devices>
            <option value="${deviceType.number}">${deviceType}</option>
          </#list>
        </select>
      </p>
      <p>
        <div>Name of device:</div>
        <input type="text" name="deviceName" width="50">
      </p>
      <p>
        <div>Device:</div>
        <select name="deviceSerialNumber">
          <#list attachedDevices as device>
            <option value="${device.serialNumber}">
              ${device.deviceString} ${device.deviceId} (${device.serialNumber})
            </option>
          </#list>
        </select>
      </p>
      <p>
        <button type="submit" value="Submit">Submit</button>
      </p>
    </form>
  </#if>
</body>
</html>
